@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #000B2D;
    color: white;
}

.evento-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    width: 30%;
    margin: 5px;
  }

  .delete-button {
    margin-right: 8px;
    border-radius: 72px;
    height: 30px;
    width: 30%;
  }
  .update-button{
    border-radius: 72px;
    height: 30px;
    width: 30%;
  }
button a {
    text-decoration: none;
    color: white;
}
#eventos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.crud h1{
  text-align: center;
}

#btnListar, #btnPesquisar{
    margin-left: 35%;
    margin-bottom: 2%;
    width: 20%;
    height: 40px;
    border-radius: 72px;
}
#btnListar:hover{
  box-shadow: 0 0 20px #A9A9A9;
}
#btnPesquisar:hover{
  box-shadow: 0 0 20px #A9A9A9;
}
#button-voltar{
    float: right;
    width: 10%;
    height: 30px;
    margin-right: 5px;
    border-radius: 72px;
}
#button-voltar:hover{
  box-shadow: 0 0 20px #A9A9A9;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-title {
  margin-top: 0;
}

.eventoForm {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-weight: bold;
  padding: 5px;
}

.form-group input {
  width: 60%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  text-align: right;
}

.modal-buttons button {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 20px;
}

.modal-buttons button:first-child {
  margin-left: 0;
}

.container {
  width: 700px;
  height: 400px;
  position: relative;
  border: #ccc solid;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

form input{
    width: 50%;
    border: 0;
    border-bottom: 1px solid #aaa;
    font-size: 13px;
    font-weight: 300;
    padding: 10px;
    margin-left: 30%;
}
button{
  width: 50%;
  height: 30px;
  margin-left: 30%;
  margin-top: 15px;
  outline: 0;
  color: #f2eee3;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  z-index: 3;
  border-radius: 5px;
}
#buttonAdm{
  margin-left: 25%;
  width: 40%;
}