@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Piazzolla:wght@600&display=swap');

/*mapa*/
* {
    box-sizing: border-box;
}

#map {
    width: 100%;
    height: 100%;
    float: left;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    background-color: #000B2D;
}

#container {
    background-color: #000B2D;
    width: 50%;
    position: relative;
    display: grid;
    box-shadow: 2px 2px 10px 0 rgba(51, 51, 51, 0.2);
    transition: 0.5s;
    margin: 2%;

}

#container:hover {
    box-shadow: 0 0 20px #7B68EE;
    border: 4px solid #7B68EE;
}

.titulo {
    text-align: center;
    font-family: 'Piazzolla', serif;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

.images {
    display: flex;
    justify-content: space-around;
}

button {
    border-radius: 72px;
    margin-top: 10%;
    height: 30px;
    width: 20%;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#buttonVer,
#buttonAdm,
#button-voltar,
.buttonCad,
.buttonCadEv {
    margin-left: 2%;
    border-radius: 72px;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 90%;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    box-shadow: 0 0 20px #A9A9A9;
}

input {
    padding: 0 10px;
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
    border-radius: 36px;
    width: 40%;
    height: 35px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
}

#desc {
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
    border-radius: 15px;
    width: 83%;
    padding: 5px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    height: 100px;

}

input:hover {
    box-shadow: 0 0 20px #A9A9A9;
}

form {
    margin: 5% 0 0 10%;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#form {
    margin-left: 10%;
    margin-top: 5%;
}

img {
    height: 70%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    height: 400px;
    position: relative;
    display: grid;
    grid-template: 100%/50% 50%;
    box-shadow: 2px 2px 10px 0 rgb(255, 253, 253);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.message {
    position: absolute;
    background-color: #000B2D;
    width: 50%;
    height: 100%;
    transform: translateX(100%);
    left: 0;
    transition: 0.5s all ease;
    z-index: 4;
}

.message::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 70%;
    background-color: #c3c3d8;
    opacity: 0;
    left: 0;
    top: 15%;
}

.message .button {
    margin: 5px;
}

.signup::before {
    opacity: 0.3;
    left: 0;
}

.login::before {
    opacity: 0.3;
    left: 100%;
}

.btn-wrapper {
    width: 60%;
    margin: 50% 0 0 20%;
}

.form {
    width: 100%;
    height: 100%;
}

.form--heading {
    font-size: 20px;
    height: 70px;
    color: #4682B4;
    font-family: 'Piazzola';
}

.form--signup {
    border-right: 1px solid #999;
}

form {
    width: 70%;
}

form>* {
    margin: 10px;
}

form input {
    width: 100%;
    border: 0;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.11em;
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
    border-radius: 36px;
    height: 35px;
}

form input::placeholder {
    color: rgb(255, 245, 245);
    font-size: 10px;
}

form input:focus {
    outline: 0;
    border-bottom: 1px solid rgba(128, 155, 206, 0.7);
    transition: 0.6s all ease;
}

button.button {
    width: 100%;
    height: 30px;
    border: 0;
    outline: 0;
    color: #f2eee3;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    background-color: #4682B4;
    font-family: 'Montserrat';
    border-radius: 5px;
}

p {
    color: #aaa;
    font-size: 13px;
    margin-left: 4rem;
}